@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f6f4fc;
  -webkit-font-smoothing: antialiased;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 16px;
  background-color: #f6f4fc;
  border-bottom: 1px solid #3ba8d4;
  margin: 0 20px;
}

.header_user {
  font-size: 1.2em;
  color: #3ba8d4;
  float: left;
}

.icon{
  padding-right: 10px;
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header {
  background-color: #fefefe;
  border-radius: 40px;
  margin: 20px;
  padding: 20px;
  width: 100%;
	max-width: 650px;
}

.main-title {
  width: 100%;
}

.main-header .main-title h1 {
	margin: 30px;
  font-size: 42px;
  color: #3ba8d4;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 16px;
  background-color: #f6f4fc;
  border-top: 1px solid #b3b3b3;
  margin: 0 10px;
}

.footer_sign {
  font-size: 14px;
  color: #b3b3b3;
}

.footer_sign span, a {
  color: #49c1c3;
  text-decoration: none;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  /* .main-header {
    margin: 60px 150px;
    padding: 20px;
  } */

}
